page-events-list {
	.job-item{
		border-top: 0px !important;
		.item-inner{
			border-bottom: 0px solid #c8c7cc !important;
		}
		border-bottom: 1px solid #c8c7cc;
		img{
			width: 12vw;
			height: 12vw;

		}
		.job-item-list{
			margin: 0px !important;
			.job-title{
				font-size: 5vw;
				color: #000;
				white-space: normal;
			}
			.job-date{
				font-size: 4vw;
				color: #555;
			}
			.job-owner{
				font-size: 4vw;
				color: #555;
			}
		}
	}

}
