$title-font: 5vw;
$date-font: 4vw;
.toolbar-title{
	font-size: 6vw !important;
	color: white !important;
}

.toolbar-background {
	background: #f1610a !important;
	border: none !important;
}
ion-navbar{
	.back-button {
		color: white !important;
	}
	.bar-buttons {
		color: white !important;
	}
}